* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

:root {
    --main-clr:#76E5D9;
    --secondary-clr:#254a47;
    --text-clr:#243C39;
}

/* Color Theme Swatches in Hex */
.My-Color-Theme-1-hex { color: #80BBB5; }
.My-Color-Theme-2-hex { color: #7B918E; }
.My-Color-Theme-3-hex { color: #76E5D9; }
.My-Color-Theme-4-hex { color: #506664; }
.My-Color-Theme-5-hex { color: #243C39; }
.My-Color-Theme-6-hex { color: #173330; }

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

/* for overall use */
.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 10px;
    padding-right: 10px;
}

/* navbar styles */
.logo {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.navbarSec a {
    font-size: 1.2rem;
    padding: 0.5rem;
    color: var(--text-clr);
    margin-inline: 5px;
    border-radius: 0.2rem;
}
.navbarSec a:hover {
    background-color: #243C39;
    color: var(--main-clr);
    transition: all 0.2s ease-in-out;
}
/* for the landin section styles */
.landingSec {
    width: 90%;
    margin: auto;
    height: calc(90vh - 56px);
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}
.landingText{
  margin-inline: 2rem;
}

.landingText span{
    font-size: 2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    line-height: 1.2rem;
    color: var(--text-clr);
    word-spacing: 0.3rem;
    line-height: 1.5rem;
}

.landingText p {
    line-height: 1.2rem;
}

.landingImg{
    height: 90%;
    width: 90%;
}

.landingImg img{
    height: 100%;
    width: 100%;
    object-fit: contain;
}

/* product section */

.productSec {
    background-color: rgba(128, 128, 128, 0.068);
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-bottom: 3rem;
}

.productSec p {
    text-align: center;
    font-weight: bold;
    color: #243C39;
    font-size: 1.8rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 1rem;
}

.productSec p span {
    color: var(--main-clr);
}

.productsContainer {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 0.5rem;
    margin-inline: 4rem;
    margin-bottom: 2rem;
}

.productsContainer .card{
    min-height: auto;
    min-width: 300px;
    width: 90%;
    margin: auto;
    background-color: #76e5da47;
    padding: 1rem;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
}

.productsContainer .card img {
    height: auto;
    width: 100%;
    aspect-ratio: 1/1;
    border-radius: 1.5rem 1.5rem 0 0;
    object-fit: fill;
    margin-bottom: 5px;
}

.card .shortDesc {
    text-align: left;
    font-size: 1rem;
    letter-spacing: .2rem;
}

.card .priceContainer{
    margin-top: 0.2rem;
    display: flex;
    justify-content: space-between;
}

.card h3 , .card p{
    margin: 0;
}

.card-body a{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

/* footer styles */
.footer{
    background-color: #83fef137;
    
}
.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.footer .logo{
    text-decoration: none;
    color: var(--text-clr);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 0.4rem;
    background-color: var(--secondary-clr);
    border-radius: 5rem;
    color: aliceblue;
}

.footer ul {
    display: flex;
    list-style:none;
    align-items: center;
    justify-content: center;

}
.footer .container ul li a {
    text-decoration: none;
    color: var(--text-clr);
    padding-inline: 0.2rem;
}
.footer .container ul li a:hover{
    color: #80BBB5;
    transition: 0.5s ease-in-out ;
}

.socials i {
    padding: 0.4rem;
    background-color: var(--secondary-clr);
    border-radius: 50%;
    color: aliceblue;

}

@media screen and (max-width:1000px) {
    .productsContainer {
        grid-template-columns: 1fr 1fr;
    }  
    .productsContainer .card{
        margin-bottom: 1rem ;
    }
    .landingSec .btn-outline-dark{
        display: none;
    }
}

@media screen and (max-width:700px) {
    .productsContainer {
        grid-template-columns: 1fr ;
    }
    .productsContainer .card{
        margin-bottom: 1rem ;
    }
    .landingSec .btn-outline-dark{
        display: none;
    }
}